{% extends 'base.html' %}

{% block content %}
<a href="{% url 'view_profile' %}">Back to Profile</a>

  <h3>Received Friend Requests</h3>
  <ul>
    {% for friend_request in friend_requests_received %}
    <p>Friend request from {{ friend_request.from_user.username }}</p>
    <form method="post" action="{% url 'accept_friend_request' friend_request.id %}">
      {% csrf_token %}
      <button type="submit">Accept</button>
    </form>
    <form method="post" action="{% url 'reject_friend_request' friend_request.id %}">
      {% csrf_token %}
      <button type="submit">Reject</button>
    </form>
    <br>
    {% empty %}
      <p>No friend requests received.</p>
    {% endfor %}
  </ul>

  <h3>Search for Friends</h3>
  <form id="searchForm" method="get" action="{% url 'search_friends' %}">
    {% csrf_token %}
    <label for="search">Username:</label>
    <input type="text" id="search" name="search">
    <button type="submit">Search</button>
  </form>

  {% if search_results %}
    <h3>Search Results</h3>
    {% for user in search_results %}
    <form method="post" action="{% url 'send_friend_request' user.id %}">
      {% csrf_token %}
      <button type="submit" class="send-friend-request">Send Friend Request</button>
    </form>
    {% empty %}
      <p>No users found.</p>
    {% endfor %}
  {% endif %}

  <script>
    
  </script>
{% endblock %}
